[submodule "modules/quotes"]
	path = modules/quotes
	url = git://github.com/kfdm/kohana-quotes.git
[submodule "modules/gallery"]
	path = modules/gallery
	url = git://github.com/kfdm/kohana-gallery.git
